name: Lint Code Base

on:
  pull_request:
    branches: [main]

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter@v5
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
          # 보안 유출이 발견되면 빌드를 실패(빨간 불) 처리합니다.
          DISABLE_ERRORS: false 

          
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_GITLEAKS: true        # 비밀번호, API 키 유출 검사 (실제 사고 방지)
          
          # 자바 관련 스타일 검사기(Google Java Format, Checkstyle) 제거
          VALIDATE_JAVA: false
          VALIDATE_GOOGLE_JAVA_FORMAT: false
